// Color
$primary-color: #1b74e4;
$second-color: #65676b;
$primary-background: #f0f2f5;
$white-background: #ffffff;
$hover-background: #e4e6e9;
$hover-icon: #dedede;
$online-color: #31a24c;

// Font
$primary-font: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
