@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins";

.topbar {
  &_container {
    width: 100%;
    background-color: $white-background;
    height: 56px;
    // padding: 0 15px;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  &_left {
    i {
      font-size: 2.5rem;
      color: $primary-color;
    }
  }

  &_search {
    background-color: $primary-background;
    border-radius: 32px;
    padding: 10px;
    max-width: 55%;
    i {
      font-size: 0.875rem;
      color: #333;
      margin-right: 10px;
    }

    input {
      background-color: unset;
      border: none;
      outline: none;
      width: 80%;
    }
  }
  &_center {
    padding: 0 16px;
    .ant-tabs-nav-operations {
      display: none !important;
    }
    :where(.css-dev-only-do-not-override-amq5gd).ant-tabs-top > .ant-tabs-nav {
      margin: 0;
    }
    :where(.css-dev-only-do-not-override-amq5gd).ant-tabs .ant-tabs-tab {
      padding: 0;
    }

    :where(.css-dev-only-do-not-override-amq5gd).ant-tabs-top
      > .ant-tabs-nav
      .ant-tabs-ink-bar {
      height: 2.6px;
    }

    .ant-tabs {
      &-nav-list {
        width: 100%;
      }
      &-tab {
        width: 25%;
        &-btn {
          width: 100%;
          text-align: center;
        }
      }
    }

    &_icon {
      margin-bottom: 3px;
    }
    i {
      width: 100%;
      padding: 13.2px 0;
      font-size: 1.425rem;
      &:hover {
        background-color: #f2f2f2;
        border-radius: 8px;
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
  &_right {
    i {
      font-size: 1.3rem;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: $primary-background;
      margin-right: 10px;
      text-align: center;
      border-radius: 50%;
      &:hover {
        @include hover-icon;
      }
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
  }
}

.logo {
  width: 100px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .topbar {
    &_search {
      padding: 0;
      border-radius: 0;
      background-color: unset;
      i {
        margin: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background-color: #f0f2f5;
        &:hover {
          @include hover-icon;
        }
      }
      input {
        display: none;
      }
    }
  }
}

@media (max-width: 461px) {
  .topbar {
    &_left {
      flex: 2;
      max-width: 100%;
    }
    &_center {
      flex: 1;
      max-width: 100%;
    }
    &_right {
      flex: 4;
      max-width: 100%;
    }
  }
}

.isActive {
  i {
    color: #333;
  }

  :where(.css-dev-only-do-not-override-amq5gd).ant-tabs .ant-tabs-ink-bar {
    background: unset;
  }
}

@media (max-width: 435px) {
  .topbar {
    &_left {
      display: none;
    }
    &_center {
      flex: 1;
      max-width: 100%;
      .ant-tabs-tab {
        width: 100%;
      }
    }
    &_right {
      flex: 5;
      max-width: 100%;
    }
  }
}
